<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.isen.mollinari.androidktntoolbox">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <activity
            android:name=".ble.BLEDeviceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ble.BLEScanActivity"/>
        <activity
            android:name=".ble.BLEScanActivity"
            android:screenOrientation="portrait"
            android:label="@string/home_ble"
            android:parentActivityName=".activity.HomeActivity"/>
        <activity
            android:name=".activity.WebServiceActivity"
            android:screenOrientation="portrait"
            android:label="@string/home_webservices"
            android:parentActivityName=".activity.HomeActivity"/>

        <activity
            android:name=".activity.LifeCycleActivity"
            android:label="@string/home_lifecycle"
            android:parentActivityName=".activity.HomeActivity"/>

        <activity
            android:name=".activity.StorageActivity"
            android:label="@string/home_save"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.HomeActivity"/>

        <activity
            android:name=".activity.PermissionActivity"
            android:label="@string/home_permission"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.HomeActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>